PUBLIC_OO_APPLICATION_ID="batterydigitalpassport"
PUBLIC_OO_SERVICE="batterydigitalpassport"
PUBLIC_OO_ENV="production"
PUBLIC_OO_VERSION="0.0.1"
PUBLIC_OO_ENABLED=false
PUBLIC_OO_CLIENT_TOKEN="rumGJjCAU1pAyClNuhG"
PUBLIC_OO_SITE="data.markremover.com"
PUBLIC_OO_ORGANIZATION="default"
PUBLIC_OO_API_VERSION="v1"
PUBLIC_OO_INSECURE_HTTP=false
PUBLIC_OO_SESSION_SAMPLE_RATE=100
PUBLIC_OO_SESSION_REPLAY_SAMPLE_RATE=100
PUBLIC_OO_PRIVACY_LEVEL="allow"
PUBLIC_OO_RESPECT_DO_NOT_TRACK=true
PUBLIC_OO_TRACK_RESOURCES=true
PUBLIC_OO_TRACK_LONG_TASKS=true
PUBLIC_OO_TRACK_USER_INTERACTIONS=true
PUBLIC_OO_FORWARD_ERRORS_TO_LOGS=true
PUBLIC_OO_TRACING_URLS=""
